{
	"config": [{
		"splash_image": "https://1.bp.blogspot.com/-y1ghCjhk51w/XvmhA2XgdwI/AAAAAAAAAN0/_AbihRNv_ukUfM93RCAZf-2pD6_uvilyQCLcBGAsYHQ/s1600/20200629_150313.png",
		"host": "https://web.i59400f.xyz",
		"exp_host": "https://web.i59400f.xyz",
		"main_host": "https://raw.githubusercontent.com/ntah/animlovers/master",
		"info": "0",
		"info_message": "Beta?",
		"under_maintenance": "1",
		"under_maintenance_info": "Bentar Gw Pengen Eksperimen :v",
		"disable_report": "1",
		"disable_request": "1",
		"disable_chat": "1",
		"disable_download": "0",
		"disable_streaming": "0",
		"disable_hd": "0",
		"beta_hd": "0",
		"beta_hd_info": "HD masih dalam tahap Perbaikan :)",
		"disable_exp_host": "1",
		"genre": "Genre,Complete,Ongoing,Movie,Action,Adventure,Comedy,Demons,Drama,Ecchi,Fantasy,Game,Harem,Historical,Horror,Josei,Kids,Live Action,Magic,Martial Arts,Mecha,Military,Music,Mystery,Parody,Police,Psychological,Romance,Samurai,School,Sci-Fi,Seinen,Shoujo,Shounen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Tokusatsu,Vampire",
		"sensor": "",
		"adsvideo": "0",
		"adsvideo_start": "0",
		"adsvideo_end": "0",
		"MainActivity": "",
		"DetailActivity": "",
		"LainnyaActivity": "",
		"EpisodeActivity": "",
		"VideoPlayActivity": "",
		"OtherActivity": ""
	}]
}
/*ads startapp, appnext, inmobi, unity */
